@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('../..//node_modules/leaflet/dist/leaflet.css');

body {
  font-family: 'Open Sans', sans-serif;
  font-size: medium;
  margin: 0;
  color: white;
}

input {
  height: 3vh;
}

input[type="file"]::file-selector-button {
  background-color: teal;
  height: 3vh;
  border: none;
  border-radius: 3vh;
  color: white;
}

input[type="file"]:enabled::file-selector-button:hover {
  background-color: lightseagreen;
}

input[type="file"]:disabled::file-selector-button {
  background-color: black;
  color: white;
  border: 0.5px solid white;
}

button {
  height: 3vh;
  border-radius: 3vh;
  background-color: teal;
  color: white
}

.select-button {
  border-radius: 0;
  border: none;
}

.select-button:disabled {
  background-color:dimgray;
}

.select-button:enabled {
  background-color: black;
}

.select-button:enabled:hover {
  background-color: darkslategrey;
}

.flexible {
  display: flex;
}

.vertical {
  flex-direction: column;
}

.small-space {
  gap: 1vh;
}

.big-space {
  gap: 2vh;
}

.padding {
  padding: 3vh;
}

.menu-button {
  background-color: teal;
  border: none;
}

.menu-button:hover {
  background-color: lightseagreen;
}

.menu-button:disabled {
  background-color: dimgray;
  border: 0.5px solid white;
}

.select {
  color: black;
}

#map {
  height: 100vh;
  width: 80%;
}

#panel {
  width: 20%;
  background-color: black;
}

#title {
  font-size: x-large;
  font-weight: bold;
  color: white;
}

#bands {
  justify-content: space-between;
}

#menu {
  background-color: dimgray;
  padding: 2vh;
}